.sfw-loading-label {
	display: inline-flex;
	align-items: center;
	gap: wpVariables.$grid-unit-10;
	height: $button-size;
	color: var(--wp-admin-theme-color);

	.woocommerce-spinner {
		width: $icon-size;
		height: $icon-size;
		min-width: $icon-size;

		&__circle {
			stroke: currentcolor;
			stroke-width: wpVariables.$grid-unit;
		}
	}
}
