.sfw-loading-label {
	align-items: center;
	block-size: $button-size;
	color: var(--wp-admin-theme-color);
	display: inline-flex;
	gap: wpVariables.$grid-unit-10;

	.woocommerce-spinner {
		block-size: $icon-size;
		inline-size: $icon-size;
		min-inline-size: $icon-size;

		&__circle {
			stroke: currentcolor;
			stroke-width: wpVariables.$grid-unit;
		}
	}
}
