.sfw-order-attribution-promo {
	margin-block-start: wpVariables.$grid-unit-20;
	padding: wpVariables.$grid-unit-20;
	background-color: colors.$sfw-color-gray-0;
	border: 1px solid wpColors.$gray-300;
	border-radius: 2px;
}

.sfw-order-attribution-promo__header {
	display: flex;
	align-items: flex-start;
	gap: wpVariables.$grid-unit-10;
	margin-block-end: wpVariables.$grid-unit-15;
}

.sfw-order-attribution-promo__logo {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}

.sfw-order-attribution-promo__title {
	margin: 0;
	font-size: variables.$sfw-font-base;
	line-height: variables.$sfw-line-height-medium;
	font-weight: 600;
	color: wpColors.$black;
}

.sfw-order-attribution-promo__body {
	margin-block: 0 wpVariables.$grid-unit-15;
	margin-inline: 0;
	font-size: variables.$sfw-font-base;
	line-height: variables.$sfw-line-height-medium;
	color: wpColors.$gray-900;
}
