/*! Add other colors or adjustments we want below */
$sfw-color-green: #008a20;
$sfw-color-red: #d94f4f;
$sfw-color-green-0: #edfaef;
$sfw-color-green-70: #005c12;
$sfw-color-yellow-0: #fcf9e8;
$sfw-color-yellow-70: #614200;
$sfw-color-red-0: #fcf0f1;
$sfw-color-red-70: #8a2424;
$sfw-color-gray-0: #f6f7f7;
