// Typography
$sfw-font-smallest: 11px;
$sfw-font-smaller: 12px;
$sfw-font-base: 13px;
$sfw-font-small: 14px;
$sfw-font-small-medium: 20px;
$sfw-font-medium: 24px;
$sfw-font-large: 32px;

// Line Heights
$sfw-line-height-smallest: 13px;
$sfw-line-height-smaller: 16px;
$sfw-line-height-small: 18px;
$sfw-line-height-medium: 20px;
$sfw-line-height-medium-large: 28px;
$sfw-line-height-large: 32px;

// Dimensions
$sfw-border-radius: 3px;
$sfw-size-control-height: 36px;
$sfw-popover-width: 200px;
$sfw-width-smaller: 150px;
$sfw-width-small: 250px;
$sfw-width-medium: 300px;
$sfw-width-medium-large: 360px;
$sfw-width-mobile: 480px;
$sfw-width-medium-big: 550px;
$sfw-width-large: 600px;
