.snap4woo-subsection-title {
	position: relative;
	font-size: $snap4woo-font-small;
	font-style: normal;
	font-weight: 600;
	line-height: $snap4woo-line-height-medium;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: $grid-unit;
}
