.sfw-subsection-title {
	position: relative;
	font-size: variables.$sfw-font-small;
	font-style: normal;
	font-weight: 600;
	line-height: variables.$sfw-line-height-medium;
	letter-spacing: 0;
	margin-block-end: wpVariables.$grid-unit;
	text-align: start;
}
