// Import Gutenberg variables
@import "node_modules/@wordpress/base-styles/variables";

// Gutenberg Missing Styles
// $gray-500 is not declared in Gutenberg.
$gray-500: #bbb;

// Add other variables or adjustments we want below

// Typography

$snap4woo-font-smallest: 11px;
$snap4woo-font-smaller: 12px;
$snap4woo-font-base: 13px;
$snap4woo-font-small: 14px;
$snap4woo-font-small-medium: 20px;
$snap4woo-font-medium: 24px;
$snap4woo-font-large: 32px;

// Line Heights

$snap4woo-line-height-smallest: 13px;
$snap4woo-line-height-smaller: 16px;
$snap4woo-line-height-small: 18px;
$snap4woo-line-height-medium: 20px;
$snap4woo-line-height-medium-large: 28px;
$snap4woo-line-height-large: 32px;

// Dimensions

$snap4woo-border-radius: 3px;
$snap4woo-size-control-height: 36px;
$snap4woo-popover-width: 200px;
$snap4woo-width-smaller: 150px;
$snap4woo-width-small: 250px;
$snap4woo-width-medium: 300px;
$snap4woo-width-medium-large: 360px;
$snap4woo-width-mobile: 480px;
$snap4woo-width-medium-big: 550px;
$snap4woo-width-large: 600px;
