.sfw-step-content-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: wpVariables.$grid-unit-15;
	margin: auto;
	margin-block-end: var(--large-gap);
	max-inline-size: variables.$sfw-width-large;
	text-align: center;

	h1 {
		font-size: variables.$sfw-font-large;
		padding: 0;
	}

	&__description {
		line-height: variables.$sfw-line-height-smaller;
	}
}
